BasedOnStyle: Google

AlignConsecutiveAssignments: Consecutive
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
ColumnLimit: 120
Cpp11BracedListStyle: false
